@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Slab:wght@500&display=swap");
:root {
  --black: rgba(37, 40, 40);
  --black75: rgba(37, 40, 40, 0.75);
  --black50: rgba(37, 40, 40, 0.5);
  --black25: rgba(37, 40, 40, 0.25);
  --black10: rgba(37, 40, 40, 0.1);
  --black5: rgba(37, 40, 40, 0.5);
  --primary: #f15946;
  --secondary: #07447b;
  --teritary1: #f79489;
  --teritary2: #faefd8;
  --teritary3: #a0e7e5;
  --gradient: linear-gradient(to bottom right, #f79489, #a0e7e5);
  --shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

a {
  text-decoration: underline #551a8b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 20px;
  gap: 50px;
  background: var(--black);
}

h1 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 48.83px;
  line-height: 75px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
h2 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 39.06px;
  line-height: 64.4px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
h3 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 31.25px;
  line-height: 64.4px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
h4 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 25px;
  line-height: 64.4px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
h5 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 20px;
  line-height: 64.4px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
h6 {
  font-family: Roboto Slab;
  color: var(--black);
  font-size: 16px;
  line-height: 38.5px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}
p {
  font-family: Nunito Sans;
  color: var(--black);
  font-size: 16px;
  line-height: 38.5px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
.logo {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.spread {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
nav h1,
nav h5 {
  color: #fff;
}
nav .period {
  color: var(--primary);
}

#myLinks a {
  text-decoration: underline #551a8b;
}
#myLinks {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 90%;
  border-radius: 20px;
}
#menu {
  display: none;
}

.action {
  color: white;
  display: inline;
  text-align: center;
  width: 50%;
  align-self: center;
  text-shadow: -1px -1px 0 #a0e7e5, 1px 1px 0 #a0e7e5, 3px 3px 3px #f79489,
    10px 10px 20px rgba(0, 0, 0, 0.5), 20px 40px 40px rgba(0, 0, 0, 0.5);
  font-size: 31.25px;
  line-height: 64.4px;
  font-weight: 500;
  letter-spacing: 0px;
  font-style: normal;
  margin: 0px;
  width: 90%;
}

.action:hover {
  cursor: pointer;
  padding: 2px 16px;
  transform: scale(1.05);
}

main {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main section {
  padding: 30px;
  background: var(--teritary2);
  border-radius: 20px;
}

main section .rel {
  position: relative;
}

main section .rel .one {
  height: 150px;
  width: 298.879203px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid black;
}

main section .rel .two {
  height: 150px;
  width: 250px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid black;
}

main section .rel .three {
  height: 150px;
  width: 156.7514677px;
  display: inline-block;
}

main section .num1 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  bottom: -13px;
  right: -13px;
  z-index: 2;
  background: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section .num2 {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  bottom: -15px;
  right: -10px;
  z-index: 2;
  background: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section h3 {
  color: #fff;
}

main section a {
  text-decoration: none;
}
main section p {
  color: black;
  text-align: center;
  font-size: 13px;
}

main section h4 {
  text-align: center;
}

@media screen and (max-width: 555px) {
  nav .spread:nth-child(2) a {
    display: none;
  }
  #menu {
    display: flex;
  }
  main section {
    padding: 15px;
  }
  main {
    gap: 50px;
  }
}
