@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Slab:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Fira+Code:wght@400;500&display=swap');
:root {
  --black: rgba(37, 40, 40);
  --black75: rgba(37, 40, 40, 0.75);
  --black50: rgba(37, 40, 40, 0.5);
  --black25: rgba(37, 40, 40, 0.25);
  --black10: rgba(37, 40, 40, 0.1);
  --black5: rgba(37, 40, 40, 0.5);
  --primary: #f15946;
  --secondary: #07447b;
  --teritary1: #f79489;
  --teritary2: #faefd8;
  --teritary3: #a0e7e5;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color-scheme: dark;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--black);
  font-family: 'Inter', sans-serif;
  color: white;
  margin: 0px;
}

p {
  color: rgb(226 232 240/ 0.75); 
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(226 232 240/ 1);
}

h4 {
  font-weight: 400;
  font-size: 1.5rem;
}

aside {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  width: 40%;
  height: 100vh;
  padding: 2.5rem;
  background-color: transparent;
  box-sizing: border-box;
}

main {
  display: flex; 
  flex-direction: column; 
  overflow-y: auto; 
  justify-content: space-evenly; 
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  width: 60%;
  height: 100vh;
  padding: 2.5rem;
  background-color: transparent;
  box-sizing: border-box;
}

.intro {
  margin: 2rem 0rem;
}

#nav {
  display: flex; 
  flex-direction: column; 
  gap: 1.5rem; 
  margin: 1rem 0rem;
}

.social {
  display: flex; 
  flex-direction: row; 
  gap: 25px; 
  padding-top: 2rem;
}

.social img {
  height: 2rem;
  width: 2rem;
  padding: 0px !important;
  margin: 0px !important;
}

.social a {
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.social a:hover {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}

.nav-description {
  color: rgb(226 232 240/ 0.75); 
  font-size: 1rem;
  text-decoration: none;
}

.nav-description::before {
  content: "";
  display: inline-block;  
  height: 1px;
  width: 2rem;
  background-color: white;
  vertical-align: middle;
  margin-right: 1rem;
  transition: width 0.3s ease;
  transform-origin: left;
}

.nav-description:hover {
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.nav-description:hover::before {
  height: 2px;
  width: 5rem;
}

#about {
  padding: 10px;
  padding-top: 1rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  line-height: 2rem;
}

#about p {
  padding: 10px;
  text-align: center;
}

.cursor {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 1.5rem;
  font-family: monospace;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

.typewriter-animation {
  animation: 
    typewriter 5s steps(18, end) 1 forwards,
    blinkingCursor 750ms steps(50) 15 normal,
    closeCursor 3s forwards 16s;
}
@keyframes typewriter {
  from { width: 0ch; }
  to   { width: 18ch; }
}
@keyframes blinkingCursor {
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}
@keyframes closeCursor {
  0%, 60% { border-right-color: rgba(255,255,255,.75); }
  80%     { border-right-color: rgba(255,255,255,.25); }
  100%    { border-right-color: transparent; }
}

#experience {
  padding-bottom: 2rem;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 30px;
  margin-bottom: 3rem;
  border-radius: 15px;
  backdrop-filter: blur(15px);
  position: relative;
  overflow: hidden;
}

.item:hover {
  border: 0.5px solid rgb(245, 245, 245, 0.15);
  background: rgba(255, 255, 255, 0.05);
}

.item-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(226 232 240/ 1);
  margin-bottom: 8px;
}

.timeline-container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
}

.timeline-item {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 5%;
  bottom: 30%;
  width: 0.1rem;
  background: linear-gradient(180deg, var(--teritary3) 0%, var(--primary) 50%, var(--teritary3) 100%);
}

.timeline {
  margin-left: 1.75rem;
  margin-top: 1rem;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 1.5rem;
  width: 0.85rem;
  height: 0.85rem;
  background: var(--teritary2);
  border-radius: 50%;
  border: 0.1rem solid var(--black);
  box-shadow: 0 0 0 0.2rem var(--teritary3);
  z-index: 2;
}

.item-time {
  font-size: 0.9rem;
}

.item-content {
  flex: 2;
}

.item-meta {
  color: rgb(226 232 240 / 0.90);
  margin-top: 0.85rem;
  margin-bottom: 1rem;
}

.item-description {
  color: rgb(226 232 240 / 0.75);
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.itemimage {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tag {
  color: var(--teritary3);
  background: #a0e7e520;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.tag:hover {
  transform: scale(1.1);
}

.resume {
  padding: 30px; 
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.resume:hover {
  text-decoration: underline;
}

.resume:hover::after {
  content: url("arrow-up-right.svg");
  display: inline-block;
  margin-left: 0.5rem;
  transform: translateY(20%);
}

.project {
  text-decoration: none;
}

.project:hover {
  cursor: pointer;
}

.project:hover .item-title {
  text-decoration: underline;
  font-weight: bold;
}

.project:hover .item-title::after {
  content: url("arrow-up-right.svg");
  margin-left: 0.1rem;
  text-decoration: none;
  display: inline-block;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  main {
    width: 100%;
    height: auto;
    overflow-y: hidden;
  }

  p, .item-description, .resume, .nav-description {
    font-size: 2rem;
    line-height: normal;
  }

  .item-title {
    font-size: 2.25rem;
  }

  .cursor {
    font-size: 3.5rem;
  }

  .item-time {
    font-size: 1.5rem;
  }
  
  .tag {
    padding: 2.5rem;
    font-size: 2rem;
  }
}